body {
margin:0;
box-sizing: border-box;
background-color: wheat;
}

/* Кнопки next & previous*/
.prev, .next {
position: absolute;
width: auto;
top: 35%;
padding: 8px;
background-color: black;
background-color: rgba(0, 0, 0, 0.55);
color: white;
transition: 0.6s ease;
user-select: none;
cursor: pointer;

font-weight: bold;
font-size: 18px;
}

.next {right: 4px;}

.prev:hover, .next:hover {
background-color: goldenrod;
}

.inputs {text-align:center;}

.oval {
width: 16px;
height: 16px;
margin: 0 15px;
transition: 0.6s ease;
transform: matrix(2, 0, 0, 1, 0, 0);
cursor: pointer;
}

.slideshow-container {
display: flex;
position: relative;
width: 638px;
top: 70px;
margin: auto;
margin-bottom: 70px;
}

.mySlides {
display: inline-block;
margin: 0;
margin-right: 4px;
}

#img {     
vertical-align: middle;
width:100%;
}

.text {
position: absolute;
width: 20%;
padding: 7px 0px;
bottom: 20px;
color: #36e9bf;
text-align: center;

font-size: 17px;
font-family: "Nunito Sans", Arial, sans-serif;
}

.numbertext {
position: absolute;
padding: 8px 12px;
top: 0;

font-size: 15px;
color: #ffffff;
}

.text-under-the_photo {color: blue;}